In [2]:
#importing libraries
import pandas as pd
import numpy as np

/tmp/ipykernel_9886/1431109579.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
#reading csv file
df=pd.read_csv("matches.csv")
df.head()

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
2,3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
3,4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
4,6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [116]:
#DF's Columns
df.columns

Index(['Unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'match report', 'notes', 'sh', 'sot', 'dist',
       'fk', 'pk', 'pkatt', 'season', 'team'],
      dtype='object')

In [117]:
#DATA TYPES
df.dtypes

Unnamed: 0        int64
date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [118]:
#SUMMARY STATISTICS
df.describe()

,Unnamed: 0,gf,ga,xg,xga,poss,attendance,notes,sh,sot,dist,fk,pk,pkatt,season
count,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,693.000000,0.0,1389.000000,1389.000000,1388.000000,1389.000000,1389.000000,1389.000000,1389.000000
mean,22.771778,1.335493,1.380850,1.304176,1.338445,49.702664,36089.963925,NaN,12.153348,4.041037,17.011527,0.455724,0.119510,0.147588,2021.452844
std,13.668172,1.274235,1.291049,0.767268,0.789360,12.401897,17797.991778,NaN,5.268876,2.403866,2.988364,0.665389,0.352187,0.387804,0.497951
min,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,2000.000000,NaN,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,2021.000000
25%,11.000000,0.000000,0.000000,0.700000,0.700000,40.000000,24351.000000,NaN,8.000000,2.000000,15.100000,0.000000,0.000000,0.000000,2021.000000
50%,22.000000,1.000000,1.000000,1.200000,1.200000,50.000000,32061.000000,NaN,12.000000,4.000000,16.900000,0.000000,0.000000,0.000000,2021.000000
75%,33.000000,2.000000,2.000000,1.800000,1.800000,59.000000,52214.000000,NaN,15.000000,5.000000,18.800000,1.000000,0.000000,0.000000,2022.000000
max,59.000000,9.000000,9.000000,4.600000,5.000000,82.000000,73458.000000,NaN,31.000000,15.000000,34.900000,4.000000,3.000000,3.000000,2022.000000

In [4]:
#Dropping irrelevant columns
columns_drop=['notes','match report']
df1=df.drop(columns_drop,axis=1)
df1.drop('attendance',axis=1,inplace=True)

In [5]:
df1.drop('dist',axis=1,inplace=True)
df1.drop('comp',axis=1,inplace=True)

In [6]:
#finding duplicate entries
df1.duplicated().sum()

0

In [7]:
#finding null values
df1.isnull().sum()

Unnamed: 0    0
date          0
time          0
round         0
day           0
venue         0
result        0
gf            0
ga            0
opponent      0
xg            0
xga           0
poss          0
captain       0
formation     0
referee       0
sh            0
sot           0
fk            0
pk            0
pkatt         0
season        0
team          0
dtype: int64

In [8]:
#Adding column total points dependin on column result
conditions=[(df1['result']=='L'),(df1['result']=='W'),(df1['result']=='D')]
values=[0,3,1]
df1['points']=np.select(conditions,values)

In [126]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [60]:
#EPL standings per season
table=df1.groupby(['season','team'])['points'].sum()
print("2021")
print(table[2021].sort_values(ascending=False))
print("2022")
print(table[2022].sort_values(ascending=False))

2021
team
Manchester City             86
Manchester United           74
Liverpool                   69
Chelsea                     67
Leicester City              66
West Ham United             65
Tottenham Hotspur           62
Arsenal                     61
Leeds United                59
Everton                     59
Aston Villa                 55
Newcastle United            45
Wolverhampton Wanderers     45
Crystal Palace              44
Southampton                 43
Brighton and Hove Albion    41
Burnley                     39
Fulham                      28
West Bromwich Albion        26
Sheffield United            23
Name: points, dtype: int64
2022
team
Manchester City             80
Chelsea                     65
Arsenal                     60
Tottenham Hotspur           58
Manchester United           54
West Ham United             52
Wolverhampton Wanderers     49
Newcastle United            43
Leicester City              42
Brighton and Hove Albion    41
Southampton                 40
Brentford                   40
Crystal Palace              38
Aston Villa                 37
Leeds United                34
Burnley                     31
Everton                     29
Watford                     22
Norwich City                21
Name: points, dtype: int64

In [47]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [59]:
#unique formations used in the games
df1['formation'].unique()

array(['4-3-3', '4-2-3-1', '3-4-3', '3-5-2', '3-4-1-2', '4-2-2-2',
       '4-1-4-1', '4-4-1-1', '4-4-2â—†', '4-3-2-1', '4-4-2', '3-5-1-1',
       '4-5-1', '3-4-3â—†', '4-3-3â—†', '4-2-3-1â—†'], dtype=object)

In [58]:
#teams that managed to record most shots on target
shots=df1.groupby(['season','team'])['sot'].sum()
print("2021")
print(shots[2021].sort_values(ascending=False))
print("2022")
print(shots[2022].sort_values(ascending=False))

2021
team
Manchester City             213.0
Liverpool                   201.0
Manchester United           197.0
Leeds United                196.0
Chelsea                     194.0
Aston Villa                 179.0
Leicester City              172.0
Tottenham Hotspur           166.0
West Ham United             158.0
Southampton                 157.0
Wolverhampton Wanderers     149.0
Everton                     144.0
Arsenal                     141.0
Newcastle United            130.0
Crystal Palace              129.0
Brighton and Hove Albion    129.0
Burnley                     125.0
Fulham                      123.0
West Bromwich Albion        107.0
Sheffield United             92.0
Name: sot, dtype: float64
2022
team
Manchester City             207.0
Chelsea                     165.0
Manchester United           163.0
Arsenal                     155.0
Tottenham Hotspur           153.0
Southampton                 149.0
West Ham United             131.0
Leicester City              131.0
Leeds United                130.0
Aston Villa                 127.0
Newcastle United            126.0
Brentford                   119.0
Crystal Palace              118.0
Wolverhampton Wanderers     117.0
Watford                     115.0
Brighton and Hove Albion    114.0
Everton                     102.0
Burnley                      97.0
Norwich City                 92.0
Name: sot, dtype: float64

In [61]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [87]:
#aggreggate on different features per season and team
agg=df1.groupby(['season','team'])[['gf','ga','pk']].sum()
print(agg)

                                   gf    ga    pk
season team
2021   Arsenal                   55.0  39.0   6.0
       Aston Villa               55.0  46.0   5.0
       Brighton and Hove Albion  40.0  46.0   6.0
       Burnley                   33.0  55.0   3.0
       Chelsea                   58.0  36.0   8.0
       Crystal Palace            41.0  66.0   3.0
       Everton                   47.0  48.0   4.0
       Fulham                    27.0  53.0   3.0
       Leeds United              62.0  54.0   4.0
       Leicester City            68.0  50.0  10.0
       Liverpool                 68.0  42.0   6.0
       Manchester City           83.0  32.0   5.0
       Manchester United         73.0  44.0  10.0
       Newcastle United          46.0  62.0   6.0
       Sheffield United          20.0  63.0   3.0
       Southampton               47.0  68.0   5.0
       Tottenham Hotspur         68.0  45.0   5.0
       West Bromwich Albion      35.0  76.0   4.0
       West Ham United           62.0  47.0   2.0
       Wolverhampton Wanderers   36.0  52.0   4.0
2022   Arsenal                   52.0  40.0   4.0
       Aston Villa               42.0  46.0   3.0
       Brentford                 41.0  49.0   6.0
       Brighton and Hove Albion  31.0  42.0   3.0
       Burnley                   29.0  45.0   0.0
       Chelsea                   67.0  27.0   7.0
       Crystal Palace            43.0  41.0   5.0
       Everton                   34.0  55.0   5.0
       Leeds United              38.0  68.0   4.0
       Leicester City            47.0  51.0   2.0
       Manchester City           80.0  21.0   7.0
       Manchester United         53.0  51.0   2.0
       Newcastle United          40.0  55.0   2.0
       Norwich City              22.0  69.0   3.0
       Southampton               40.0  56.0   3.0
       Tottenham Hotspur         56.0  38.0   3.0
       Watford                   31.0  67.0   1.0
       West Ham United           52.0  44.0   3.0
       Wolverhampton Wanderers   33.0  29.0   1.0

In [86]:
agg

                                   gf    ga    pk
season team
2021   Arsenal                   55.0  39.0   6.0
       Aston Villa               55.0  46.0   5.0
       Brighton and Hove Albion  40.0  46.0   6.0
       Burnley                   33.0  55.0   3.0
       Chelsea                   58.0  36.0   8.0
       Crystal Palace            41.0  66.0   3.0
       Everton                   47.0  48.0   4.0
       Fulham                    27.0  53.0   3.0
       Leeds United              62.0  54.0   4.0
       Leicester City            68.0  50.0  10.0
       Liverpool                 68.0  42.0   6.0
       Manchester City           83.0  32.0   5.0
       Manchester United         73.0  44.0  10.0
       Newcastle United          46.0  62.0   6.0
       Sheffield United          20.0  63.0   3.0
       Southampton               47.0  68.0   5.0
       Tottenham Hotspur         68.0  45.0   5.0
       West Bromwich Albion      35.0  76.0   4.0
       West Ham United           62.0  47.0   2.0
       Wolverhampton Wanderers   36.0  52.0   4.0
2022   Arsenal                   52.0  40.0   4.0
       Aston Villa               42.0  46.0   3.0
       Brentford                 41.0  49.0   6.0
       Brighton and Hove Albion  31.0  42.0   3.0
       Burnley                   29.0  45.0   0.0
       Chelsea                   67.0  27.0   7.0
       Crystal Palace            43.0  41.0   5.0
       Everton                   34.0  55.0   5.0
       Leeds United              38.0  68.0   4.0
       Leicester City            47.0  51.0   2.0
       Manchester City           80.0  21.0   7.0
       Manchester United         53.0  51.0   2.0
       Newcastle United          40.0  55.0   2.0
       Norwich City              22.0  69.0   3.0
       Southampton               40.0  56.0   3.0
       Tottenham Hotspur         56.0  38.0   3.0
       Watford                   31.0  67.0   1.0
       West Ham United           52.0  44.0   3.0
       Wolverhampton Wanderers   33.0  29.0   1.0

In [88]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [92]:
#number of matches officiated by each referee
df1.groupby('referee')['referee'].count().sort_values(ascending=False)

referee
Anthony Taylor       100
Michael Oliver        99
Martin Atkinson       96
Jonathan Moss         91
Craig Pawson          90
Mike Dean             87
Paul Tierney          85
Andre Marriner        81
David Coote           80
Kevin Friend          79
Stuart Attwell        78
Chris Kavanagh        70
Andy Madley           61
Peter Bankes          54
Darren England        50
Simon Hooper          50
Graham Scott          48
Robert Jones          40
Lee Mason             22
Jarred Gillett        14
John Brooks            6
Michael Salisbury      4
Tony Harrington        4
Name: referee, dtype: int64

In [93]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [99]:
#number of penalties awarded and scored by each referee
df1.groupby('referee')[['pkatt','pk']].sum().sort_values(by='pkatt',ascending=False)

                   pkatt    pk
referee
Anthony Taylor      22.0  19.0
Michael Oliver      22.0  17.0
Andre Marriner      13.0  11.0
Mike Dean           13.0  11.0
David Coote         12.0  12.0
Paul Tierney        12.0   9.0
Kevin Friend        12.0  10.0
Chris Kavanagh      11.0  11.0
Stuart Attwell      11.0  10.0
Jonathan Moss       10.0   9.0
Darren England      10.0   9.0
Craig Pawson        10.0   6.0
Andy Madley          9.0   7.0
Martin Atkinson      9.0   7.0
Robert Jones         7.0   4.0
Graham Scott         6.0   4.0
Simon Hooper         6.0   4.0
Peter Bankes         4.0   3.0
Lee Mason            3.0   1.0
Jarred Gillett       1.0   1.0
John Brooks          1.0   0.0
Michael Salisbury    1.0   1.0
Tony Harrington      0.0   0.0

In [111]:
#points gained by team against opposition
enc=df1.groupby(['team','opponent'])[['result','points']]
for (hometeam,awayteam),group in enc:
    group['points']=np.where(group['result']=="L",-3,3)
    total_points=group['points'].sum()
    #print(hometeam,awayteam)
    print(hometeam,total_points,awayteam)

Arsenal 0 Aston Villa
Arsenal 0 Brentford
Arsenal 6 Brighton
Arsenal 6 Burnley
Arsenal 6 Chelsea
Arsenal 6 Crystal Palace
Arsenal -9 Everton
Arsenal 6 Fulham
Arsenal 9 Leeds United
Arsenal 6 Leicester City
Arsenal -12 Liverpool
Arsenal -12 Manchester City
Arsenal 6 Manchester Utd
Arsenal 9 Newcastle Utd
Arsenal 6 Norwich City
Arsenal 6 Sheffield Utd
Arsenal 6 Southampton
Arsenal 3 Tottenham
Arsenal 6 Watford
Arsenal 6 West Brom
Arsenal 9 West Ham
Arsenal 0 Wolves
Aston Villa 0 Arsenal
Aston Villa 0 Brentford
Aston Villa 6 Brighton
Aston Villa 0 Burnley
Aston Villa 0 Chelsea
Aston Villa 3 Crystal Palace
Aston Villa 12 Everton
Aston Villa 6 Fulham
Aston Villa 6 Leeds United
Aston Villa 6 Leicester City
Aston Villa -3 Liverpool
Aston Villa -9 Manchester City
Aston Villa 0 Manchester Utd
Aston Villa 6 Newcastle Utd
Aston Villa 3 Norwich City
Aston Villa 0 Sheffield Utd
Aston Villa 0 Southampton
Aston Villa -6 Tottenham
Aston Villa -6 Watford
Aston Villa 6 West Brom
Aston Villa -12 West Ham
Aston Villa 0 Wolves
Brentford 0 Arsenal
Brentford 6 Aston Villa
Brentford -6 Brighton
Brentford 0 Burnley
Brentford 0 Chelsea
Brentford 6 Crystal Palace
Brentford 3 Everton
Brentford 3 Leeds United
Brentford -6 Leicester City
Brentford 0 Liverpool
Brentford -6 Manchester City
Brentford -3 Manchester Utd
Brentford 0 Newcastle Utd
Brentford 0 Norwich City
Brentford -3 Southampton
Brentford 0 Tottenham
Brentford 6 Watford
Brentford 6 West Ham
Brentford 0 Wolves
Brighton and Hove Albion 0 Arsenal
Brighton and Hove Albion 0 Aston Villa
Brighton and Hove Albion 6 Brentford
Brighton and Hove Albion 6 Burnley
Brighton and Hove Albion 6 Chelsea
Brighton and Hove Albion 6 Crystal Palace
Brighton and Hove Albion 0 Everton
Brighton and Hove Albion 6 Fulham
Brighton and Hove Albion 9 Leeds United
Brighton and Hove Albion 0 Leicester City
Brighton and Hove Albion 6 Liverpool
Brighton and Hove Albion -6 Manchester City
Brighton and Hove Albion -9 Manchester Utd
Brighton and Hove Albion 6 Newcastle Utd
Brighton and Hove Albion 6 Norwich City
Brighton and Hove Albion 0 Sheffield Utd
Brighton and Hove Albion 6 Southampton
Brighton and Hove Albion 0 Tottenham
Brighton and Hove Albion 6 Watford
Brighton and Hove Albion 0 West Brom
Brighton and Hove Albion 9 West Ham
Brighton and Hove Albion -3 Wolves
Burnley 6 Arsenal
Burnley 6 Aston Villa
Burnley 0 Brentford
Burnley 6 Brighton
Burnley -6 Chelsea
Burnley 12 Crystal Palace
Burnley 6 Everton
Burnley 6 Fulham
Burnley -6 Leeds United
Burnley 0 Leicester City
Burnley -6 Liverpool
Burnley -12 Manchester City
Burnley -6 Manchester Utd
Burnley -9 Newcastle Utd
Burnley 0 Norwich City
Burnley 0 Sheffield Utd
Burnley 0 Southampton
Burnley -3 Tottenham
Burnley 3 Watford
Burnley 6 West Brom
Burnley 0 West Ham
Burnley 12 Wolves
Chelsea -6 Arsenal
Chelsea 6 Aston Villa
Chelsea 0 Brentford
Chelsea 12 Brighton
Chelsea 12 Burnley
Chelsea 12 Crystal Palace
Chelsea 3 Everton
Chelsea 6 Fulham
Chelsea 9 Leeds United
Chelsea 3 Leicester City
Chelsea 6 Liverpool
Chelsea -6 Manchester City
Chelsea 9 Manchester Utd
Chelsea 12 Newcastle Utd
Chelsea 6 Norwich City
Chelsea 6 Sheffield Utd
Chelsea 12 Southampton
Chelsea 12 Tottenham
Chelsea 3 Watford
Chelsea 0 West Brom
Chelsea 6 West Ham
Chelsea 3 Wolves
Crystal Palace 6 Arsenal
Crystal Palace -3 Aston Villa
Crystal Palace 6 Brentford
Crystal Palace 12 Brighton
Crystal Palace 0 Burnley
Crystal Palace -12 Chelsea
Crystal Palace 3 Everton
Crystal Palace 6 Fulham
Crystal Palace 0 Leeds United
Crystal Palace 0 Leicester City
Crystal Palace -12 Liverpool
Crystal Palace 0 Manchester City
Crystal Palace 3 Manchester Utd
Crystal Palace 0 Newcastle Utd
Crystal Palace 6 Norwich City
Crystal Palace 6 Sheffield Utd
Crystal Palace 3 Southampton
Crystal Palace 0 Tottenham
Crystal Palace 3 Watford
Crystal Palace 6 West Brom
Crystal Palace 0 West Ham
Crystal Palace 6 Wolves
Everton 9 Arsenal
Everton -6 Aston Villa
Everton -3 Brentford
Everton 6 Brighton
Everton 0 Burnley
Everton 3 Chelsea
Everton 3 Crystal Palace
Everton 0 Fulham
Everton 6 Leeds United
Everton 9 Leicester City
Everton 0 Liverpool
Everton -12 Manchester City
Everton 6 Manchester Utd
Everton -6 Newcastle Utd
Everton 0 Norwich City
Everton 0 Sheffield Utd
Everton 0 Southampton
Everton 6 Tottenham
Everton -3 Watford
Everton 6 West Brom
Everton -6 West Ham
Everton 0 Wolves
Fulham 0 Arsenal
Fulham -6 Aston Villa
Fulham 6 Brighton
Fulham 0 Burnley
Fulham -6 Chelsea
Fulham 0 Crystal Palace
Fulham 0 Everton
Fulham -6 Leeds United
Fulham 0 Leicester City
Fulham 6 Liverpool
Fulham -6 Manchester City
Fulham 0 Manchester Utd
Fulham 0 Newcastle Utd
Fulham 6 Sheffield Utd
Fulham 0 Southampton
Fulham 0 Tottenham
Fulham 6 West Brom
Fulham 0 West Ham
Fulham -6 Wolves
Leeds United -3 Arsenal
Leeds United 0 Aston Villa
Leeds United 3 Brentford
Leeds United -3 Brighton
Leeds United 12 Burnley
Leeds United -3 Chelsea
Leeds United 6 Crystal Palace
Leeds United 0 Everton
Leeds United 6 Fulham
Leeds United 0 Leicester City
Leeds United -6 Liverpool
Leeds United 3 Manchester City
Leeds United -6 Manchester Utd
Leeds United 6 Newcastle Utd
Leeds United 6 Norwich City
Leeds United 6 Sheffield Utd
Leeds United 6 Southampton
Leeds United -6 Tottenham
Leeds United 6 Watford
Leeds United 6 West Brom
Leeds United -6 West Ham
Leeds United 0 Wolves
Leicester City -6 Arsenal
Leicester City 0 Aston Villa
Leicester City 6 Brentford
Leicester City 6 Brighton
Leicester City 12 Burnley
Leicester City -3 Chelsea
Leicester City 12 Crystal Palace
Leicester City 3 Everton
Leicester City 0 Fulham
Leicester City 6 Leeds United
Leicester City 0 Liverpool
Leicester City -6 Manchester City
Leicester City 12 Manchester Utd
Leicester City 0 Newcastle Utd
Leicester City 3 Norwich City
Leicester City 6 Sheffield Utd
Leicester City 9 Southampton
Leicester City -3 Tottenham
Leicester City 3 Watford
Leicester City 6 West Brom
Leicester City -6 West Ham
Leicester City 6 Wolves
Liverpool 6 Arsenal
Liverpool 0 Aston Villa
Liverpool 0 Brighton
Liverpool 0 Burnley
Liverpool 0 Chelsea
Liverpool 6 Crystal Palace
Liverpool 0 Everton
Liverpool 0 Fulham
Liverpool 6 Leeds United
Liverpool 0 Leicester City
Liverpool 0 Manchester City
Liverpool 6 Manchester Utd
Liverpool 6 Newcastle Utd
Liverpool 6 Sheffield Utd
Liverpool 0 Southampton
Liverpool 6 Tottenham
Liverpool 6 West Brom
Liverpool 6 West Ham
Liverpool 6 Wolves
Manchester City 12 Arsenal
Manchester City 9 Aston Villa
Manchester City 6 Brentford
Manchester City 6 Brighton
Manchester City 12 Burnley
Manchester City 6 Chelsea
Manchester City 6 Crystal Palace
Manchester City 12 Everton
Manchester City 6 Fulham
Manchester City 3 Leeds United
Manchester City 6 Leicester City
Manchester City 12 Liverpool
Manchester City 6 Manchester Utd
Manchester City 9 Newcastle Utd
Manchester City 6 Norwich City
Manchester City 6 Sheffield Utd
Manchester City 12 Southampton
Manchester City -6 Tottenham
Manchester City 6 Watford
Manchester City 6 West Brom
Manchester City 9 West Ham
Manchester City 9 Wolves
Manchester United 0 Arsenal
Manchester United 6 Aston Villa
Manchester United 3 Brentford
Manchester United 9 Brighton
Manchester United 12 Burnley
Manchester United 9 Chelsea
Manchester United 3 Crystal Palace
Manchester United 6 Everton
Manchester United 6 Fulham
Manchester United 12 Leeds United
Manchester United 0 Leicester City
Manchester United -6 Liverpool
Manchester United 0 Manchester City
Manchester United 12 Newcastle Utd
Manchester United 6 Norwich City
Manchester United 0 Sheffield Utd
Manchester United 12 Southampton
Manchester United 6 Tottenham
Manchester United 0 Watford
Manchester United 6 West Brom
Manchester United 12 West Ham
Manchester United 6 Wolves
Newcastle United -9 Arsenal
Newcastle United 0 Aston Villa
Newcastle United 6 Brentford
Newcastle United 0 Brighton
Newcastle United 9 Burnley
Newcastle United -12 Chelsea
Newcastle United 6 Crystal Palace
Newcastle United 6 Everton
Newcastle United 6 Fulham
Newcastle United 0 Leeds United
Newcastle United 0 Leicester City
Newcastle United 3 Liverpool
Newcastle United -9 Manchester City
Newcastle United -6 Manchester Utd
Newcastle United 6 Norwich City
Newcastle United 0 Sheffield Utd
Newcastle United 6 Southampton
Newcastle United 0 Tottenham
Newcastle United 6 Watford
Newcastle United 6 West Brom
Newcastle United 6 West Ham
Newcastle United 6 Wolves
Norwich City -6 Arsenal
Norwich City -3 Aston Villa
Norwich City 0 Brentford
Norwich City 6 Brighton
Norwich City 6 Burnley
Norwich City -6 Chelsea
Norwich City 0 Crystal Palace
Norwich City 0 Everton
Norwich City -6 Leeds United
Norwich City -3 Leicester City
Norwich City -6 Liverpool
Norwich City -6 Manchester City
Norwich City -6 Manchester Utd
Norwich City 0 Newcastle Utd
Norwich City 0 Southampton
Norwich City -3 Tottenham
Norwich City 0 Watford
Norwich City -3 West Ham
Norwich City 3 Wolves
Sheffield United -6 Arsenal
Sheffield United 0 Aston Villa
Sheffield United 6 Brighton
Sheffield United 0 Burnley
Sheffield United -6 Chelsea
Sheffield United -6 Crystal Palace
Sheffield United 0 Everton
Sheffield United 0 Fulham
Sheffield United -6 Leeds United
Sheffield United -6 Leicester City
Sheffield United -6 Liverpool
Sheffield United -6 Manchester City
Sheffield United 0 Manchester Utd
Sheffield United 0 Newcastle Utd
Sheffield United -6 Southampton
Sheffield United -6 Tottenham
Sheffield United 0 West Brom
Sheffield United -6 West Ham
Sheffield United -6 Wolves
Southampton 0 Arsenal
Southampton 0 Aston Villa
Southampton 3 Brentford
Southampton 6 Brighton
Southampton 6 Burnley
Southampton 0 Chelsea
Southampton 3 Crystal Palace
Southampton 0 Everton
Southampton 6 Fulham
Southampton 0 Leeds United
Southampton 3 Leicester City
Southampton -3 Liverpool
Southampton 0 Manchester City
Southampton 0 Manchester Utd
Southampton 0 Newcastle Utd
Southampton 0 Norwich City
Southampton 6 Sheffield Utd
Southampton 0 Tottenham
Southampton 0 Watford
Southampton 0 West Brom
Southampton 6 West Ham
Southampton -6 Wolves
Tottenham Hotspur -3 Arsenal
Tottenham Hotspur 6 Aston Villa
Tottenham Hotspur 6 Brentford
Tottenham Hotspur 0 Brighton
Tottenham Hotspur 3 Burnley
Tottenham Hotspur -6 Chelsea
Tottenham Hotspur 6 Crystal Palace
Tottenham Hotspur 6 Everton
Tottenham Hotspur 6 Fulham
Tottenham Hotspur 6 Leeds United
Tottenham Hotspur 3 Leicester City
Tottenham Hotspur -3 Liverpool
Tottenham Hotspur 6 Manchester City
Tottenham Hotspur -6 Manchester Utd
Tottenham Hotspur 12 Newcastle Utd
Tottenham Hotspur 3 Norwich City
Tottenham Hotspur 6 Sheffield Utd
Tottenham Hotspur 6 Southampton
Tottenham Hotspur 6 Watford
Tottenham Hotspur 6 West Brom
Tottenham Hotspur 0 West Ham
Tottenham Hotspur 6 Wolves
Watford -6 Arsenal
Watford 6 Aston Villa
Watford -6 Brentford
Watford -6 Brighton
Watford 3 Burnley
Watford -3 Chelsea
Watford -3 Crystal Palace
Watford 3 Everton
Watford -6 Leeds United
Watford -3 Leicester City
Watford -6 Liverpool
Watford -6 Manchester City
Watford 6 Manchester Utd
Watford 6 Newcastle Utd
Watford 0 Norwich City
Watford 0 Southampton
Watford -6 Tottenham
Watford -6 West Ham
Watford -6 Wolves
West Bromwich Albion -6 Arsenal
West Bromwich Albion 0 Aston Villa
West Bromwich Albion 6 Brighton
West Bromwich Albion 6 Burnley
West Bromwich Albion 6 Chelsea
West Bromwich Albion -6 Crystal Palace
West Bromwich Albion -6 Everton
West Bromwich Albion 0 Fulham
West Bromwich Albion -6 Leeds United
West Bromwich Albion -6 Leicester City
West Bromwich Albion 0 Liverpool
West Bromwich Albion 0 Manchester City
West Bromwich Albion 0 Manchester Utd
West Bromwich Albion 0 Newcastle Utd
West Bromwich Albion 0 Sheffield Utd
West Bromwich Albion 0 Southampton
West Bromwich Albion -6 Tottenham
West Bromwich Albion -6 West Ham
West Bromwich Albion 6 Wolves
West Ham United -3 Arsenal
West Ham United 12 Aston Villa
West Ham United -6 Brentford
West Ham United 9 Brighton
West Ham United 12 Burnley
West Ham United -6 Chelsea
West Ham United 12 Crystal Palace
West Ham United 6 Everton
West Ham United 6 Fulham
West Ham United 6 Leeds United
West Ham United 12 Leicester City
West Ham United -6 Liverpool
West Ham United -3 Manchester City
West Ham United -12 Manchester Utd
West Ham United 0 Newcastle Utd
West Ham United 3 Norwich City
West Ham United 6 Sheffield Utd
West Ham United 6 Southampton
West Ham United 6 Tottenham
West Ham United 6 Watford
West Ham United 6 West Brom
West Ham United 6 Wolves
Wolverhampton Wanderers 0 Arsenal
Wolverhampton Wanderers 6 Aston Villa
Wolverhampton Wanderers 0 Brentford
Wolverhampton Wanderers 9 Brighton
Wolverhampton Wanderers -6 Burnley
Wolverhampton Wanderers 9 Chelsea
Wolverhampton Wanderers -6 Crystal Palace
Wolverhampton Wanderers 0 Everton
Wolverhampton Wanderers 6 Fulham
Wolverhampton Wanderers 6 Leeds United
Wolverhampton Wanderers 0 Leicester City
Wolverhampton Wanderers -9 Liverpool
Wolverhampton Wanderers -9 Manchester City
Wolverhampton Wanderers -6 Manchester Utd
Wolverhampton Wanderers 6 Newcastle Utd
Wolverhampton Wanderers 3 Norwich City
Wolverhampton Wanderers 6 Sheffield Utd
Wolverhampton Wanderers 12 Southampton
Wolverhampton Wanderers 0 Tottenham
Wolverhampton Wanderers 6 Watford
Wolverhampton Wanderers 0 West Brom
Wolverhampton Wanderers -6 West Ham

In [113]:
#formation that won the most points
form=df1.groupby('formation')['points'].sum()
print(form.sort_values(ascending=False))

formation
4-2-3-1     540
4-3-3       398
3-4-3       296
4-4-2       236
3-5-2       144
4-1-4-1      88
3-4-1-2      63
4-4-1-1      44
4-4-2â—†       41
3-5-1-1      15
4-5-1        12
4-2-2-2      11
4-3-3â—†        3
4-2-3-1â—†      1
4-3-2-1       1
3-4-3â—†        0
Name: points, dtype: int64

In [127]:
df1.head()

,Unnamed: 0,date,time,round,day,venue,result,gf,ga,opponent,...,formation,referee,sh,sot,fk,pk,pkatt,season,team,points
0,1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,4-3-3,Anthony Taylor,18.0,4.0,1.0,0.0,0.0,2022,Manchester City,0
1,2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,4-3-3,Graham Scott,16.0,4.0,1.0,0.0,0.0,2022,Manchester City,3
2,3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,4-3-3,Martin Atkinson,25.0,10.0,0.0,0.0,0.0,2022,Manchester City,3
3,4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,4-3-3,Paul Tierney,25.0,8.0,0.0,0.0,0.0,2022,Manchester City,3
4,6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,4-3-3,Jonathan Moss,16.0,1.0,1.0,0.0,0.0,2022,Manchester City,1

In [27]:
#saving the file to a csv file
df1.to_csv("matches_updated.csv")